* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 13px Helvetica, Arial;
  }

  form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
  }

  form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
  }

  form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #messages li {
    padding: 5px 10px;
  }

  #messages li:nth-child(odd) {
    background: #eee;
  }

  #closeButton {
    position: absolute;
    top: 0%;
    right: 5px;
    width: 9%;
    background: red;
    color: white;
    border: none;
    padding: 10px;
  }

  #ReopenConnection {
    position: absolute;
    top: 5%;
    right: 5px;
    width: 9%;

    background: green;
    color: white;
    border: none;
    padding: 10px;
  }

  .MainTitle {
    text-align: center;
    color: rgb(130, 224, 255);
  }

  .messageContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80%;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    color: green;

    ul {
      position: relative;
      color: green;
      top: 60%;
      width: 100%;
      height: 80%;
      overflow-y: scroll;

    }

    li {
      position: relative;
      color: green;
      top: 10%;
      width: 100%;
      height: 80%;
      overflow-y: scroll;

    }
  }

  .message {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    color: green;
    top: 10%;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }

  .messageUL {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }

  .Body {
    background-color: #000;
    color: black;
    background: black;
  }